In [1]:
import pandas as pd
import os

directory = r'/Users/hunterblock/Documents/location-location-location/income_data'
files = []
for filename in os.listdir(directory):
    if filename.endswith(".xlsx") :
        files.append(os.path.join(directory, filename))
    else:
        continue

print(files)

['/Users/hunterblock/Documents/location-location-location/income_data/white-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-men-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-men-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-men-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-men-25-54.xlsx']

In [2]:
total_data = pd.DataFrame()

for row in files:
    df = pd.read_excel(row, header=18)
    new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    df.columns = new_header #set the header row as the df header

    df = df.iloc[:,:-1]

    df["race"] = ""
    df["sex"] = ""
    df["age_range"] = ""

    split = pd.Series(row).str.split(pat="/", expand=True)
    filename= split[6]

    rowsplit = filename.str.split(pat="-", expand=True)
    age = rowsplit[2].str.split(pat=".", expand=True)

    demos = pd.DataFrame()
    demos["race"] = rowsplit[0]
    demos["sex"] = rowsplit[1]
    demos["age_range"] = age[0]

    df["race"] = demos["race"][0]
    df["sex"] = demos["sex"][0]
    df["age_range"] = demos["age_range"][0]
    
    total_data = total_data.append(df)

In [3]:
total_data.replace("16", "16-24", inplace=True)
total_data.replace("25", "25-54", inplace=True)
total_data.replace("55", "55+", inplace=True)

total_data.to_csv("combined_data.csv")

In [4]:
#import os
#from flask_sqlalchemy import SQLAlchemy 
#from flask import Flask, jsonify, render_template, request
#import sqlalchemy
#from sqlalchemy import create_engine, func
#from sqlalchemy.orm import Session
#from sqlalchemy.ext.automap import automap_base




import psycopg2
connection = psycopg2.connect(
    host = 'housingdb.cxrqyy0s90my.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'root',
    password = 'ClassProject3718',
    database='housing'
    )
cursor=connection.cursor()

In [19]:
sql = """
SELECT *
FROM zillow_housing 
"""
data = pd.read_sql(sql, con=connection, index_col="RegionName")

data

,index,StateName,01-31-2019,02-28-2019,03-31-2019,04-30-2019,05-31-2019,06-30-2019,07-31-2019,08-31-2019,...,10-31-2019,11-30-2019,12-31-2019,1-31-2020,2-29-2020,3-31-2020,04-30-2020,05-31-2020,lat,lng
RegionName,,,,,,,,,,,,,,,,,,,,,
"New York, NY",1,NY ...,407447,407019,407071,407150,407594,408095,408854,409424,...,409332,409004,409178,409191,409330,408959,408789,408325.0,40.712775,-74.005973
"Los Angeles-Long Beach-Anaheim, CA",2,CA ...,440153,437943,435940,434797,436126,438087,439987,441012,...,444001,444895,446340,448009,450577,452598,453809,453018.0,34.052217,-118.243662
"Chicago, IL",3,IL ...,168749,168423,168371,168805,169229,169512,169822,170042,...,170199,170190,170167,170346,170680,171020,171088,170954.0,41.878114,-87.629798
"Dallas-Fort Worth, TX",4,TX ...,132371,133585,134149,134498,134554,134902,135533,136286,...,138454,138840,137942,137709,137458,137785,138435,139288.0,32.707875,-96.920913
"Philadelphia, PA",5,PA ...,175429,175718,176163,176421,176746,176952,177336,177709,...,178334,178522,178764,179211,179647,179943,180412,180929.0,39.952584,-75.165222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Winnemucca, NV",882,NV ...,133006,132580,133015,132434,132356,131694,131632,131624,...,130841,129855,128791,127948,127555,126969,126778,126481.0,40.972958,-117.735685
"Sweetwater, TX",883,TX ...,62318,62815,63456,64419,65573,66558,66801,66792,...,67941,68692,68847,68861,68623,68286,67272,66077.0,32.470952,-100.405938
"Vermillion, SD",884,SD ...,86779,86609,86650,86559,87237,87759,88573,89033,...,89866,90285,90871,91417,92160,92678,93332,93398.0,42.779442,-96.929210
"Craig, CO",885,CO ...,94659,94153,94296,93755,93192,92076,91516,91229,...,90596,90033,89607,89539,89376,89059,89213,89744.0,40.515249,-107.546454
"Ketchikan, AK",886,AK ...,79201,79341,79382,79509,79520,79628,79620,79787,...,80346,80497,80597,80635,80694,80727,80697,80789.0,55.342222,-131.646111

In [6]:


from pprint import pprint 

datas = data.to_json(orient="records")

In [18]:
datas = pd.read_sql(sql, con=connection)
datas["RegionName"] = datas["RegionName"].str.strip()
data2 = datas[["RegionName", "05-31-2020"]]
data2.reset_index()
      
        
new = data2.loc[data2["RegionName"] == 'Dallas-Fort Worth, TX']
new
value = new["05-31-2020"]
value

3    139288.0
Name: 05-31-2020, dtype: float64

In [27]:
datas = pd.read_sql(sql, con=connection)
datas["RegionName"] = datas["RegionName"].str.strip()
data2 = datas[["RegionName", "05-31-2020"]]
        
new = data2[data2['RegionName']=='Washington, DC']
        
columns = new.columns
value = new["05-31-2020"]
value

              RegionName  05-31-2020
3  Dallas-Fort Worth, TX    139288.0