In [13]:
import pandas as pd
import os

directory = r'/Users/hunterblock/Documents/location-location-location/income_data'
files = []
for filename in os.listdir(directory):
    if filename.endswith(".xlsx") :
        files.append(os.path.join(directory, filename))
    else:
        continue

print(files)

['/Users/hunterblock/Documents/location-location-location/income_data/white-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-men-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/black-men-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-men-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-women-55.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/white-men-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-men-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-women-16-24.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/asian-women-25-54.xlsx', '/Users/hunterblock/Documents/location-location-location/income_data/hispanic-men-25-54.xlsx']

In [2]:
total_data = pd.DataFrame()

for row in files:
    df = pd.read_excel(row, header=18)
    new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    df.columns = new_header #set the header row as the df header

    df = df.iloc[:,:-1]

    df["race"] = ""
    df["sex"] = ""
    df["age_range"] = ""

    split = pd.Series(row).str.split(pat="/", expand=True)
    filename= split[6]

    rowsplit = filename.str.split(pat="-", expand=True)
    age = rowsplit[2].str.split(pat=".", expand=True)

    demos = pd.DataFrame()
    demos["race"] = rowsplit[0]
    demos["sex"] = rowsplit[1]
    demos["age_range"] = age[0]

    df["race"] = demos["race"][0]
    df["sex"] = demos["sex"][0]
    df["age_range"] = demos["age_range"][0]
    
    total_data = total_data.append(df)

In [3]:
total_data.replace("16", "16-24", inplace=True)
total_data.replace("25", "25-54", inplace=True)
total_data.replace("55", "55+", inplace=True)

total_data.to_csv("combined_data.csv")

NameError: name 'combined_data' is not defined

In [11]:
#import os
#from flask_sqlalchemy import SQLAlchemy 
#from flask import Flask, jsonify, render_template, request
#import sqlalchemy
#from sqlalchemy import create_engine, func
#from sqlalchemy.orm import Session
#from sqlalchemy.ext.automap import automap_base




import psycopg2
connection = psycopg2.connect(
    host = 'housingdb.cxrqyy0s90my.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'root',
    password = 'ClassProject3718',
    database='housing'
    )
cursor=connection.cursor()

In [14]:
sql = """
SELECT "table_name","column_name", "data_type", "table_schema"
FROM INFORMATION_SCHEMA.COLUMNS
WHERE "table_schema" = 'public'
ORDER BY table_name  
"""
pd.read_sql(sql, con=connection)

        table_name column_name  data_type table_schema
0   zillow_housing  05-31-2019     bigint       public
1   zillow_housing  03-31-2019     bigint       public
2   zillow_housing         lng    numeric       public
3   zillow_housing       index    integer       public
4   zillow_housing  01-31-2019     bigint       public
5   zillow_housing   1-31-2020     bigint       public
6   zillow_housing  04-30-2019     bigint       public
7   zillow_housing  06-30-2019     bigint       public
8   zillow_housing  11-30-2019     bigint       public
9   zillow_housing   StateName  character       public
10  zillow_housing  05-31-2020    numeric       public
11  zillow_housing  RegionName  character       public
12  zillow_housing  07-31-2019     bigint       public
13  zillow_housing  09-30-2019     bigint       public
14  zillow_housing   3-31-2020     bigint       public
15  zillow_housing   2-29-2020     bigint       public
16  zillow_housing  08-31-2019     bigint       public
17  zillow_housing         lat    numeric       public
18  zillow_housing  02-28-2019     bigint       public
19  zillow_housing  10-31-2019     bigint       public
20  zillow_housing  12-31-2019     bigint       public
21  zillow_housing  04-30-2020     bigint       public